:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --navbar-height:34px;
    --header-height:120px;
    --header-with-search-height:calc(var(var(--header-height)-var(var(--navbar-height))))
}

* {
    box-sizing: border-box;
}
body 
{ 
  font-family: Arial, sans-serif; 
}
a  {
  text-decoration: none;
}
html {
    line-height: 25px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* responsive */
/* For mobile phones: */
[class*="col-"] {
    float: left;
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {
      width: 8.33%;
    }
    .col-s-2 {
      width: 16.66%;
    }
    .col-s-3 {
      width: 25%;
    }
    .col-s-4 {
      width: 33.33%;
    }
    .col-s-5 {
      width: 41.66%;
    }
    .col-s-6 {
      width: 50%;
    }
    .col-s-7 {
      width: 58.33%;
    }
    .col-s-8 {
      width: 66.66%;
    }
    .col-s-9 {
      width: 75%;
    }
    .col-s-10 {
      width: 83.33%;
    }
    .col-s-11 {
      width: 91.66%;
    }
    .col-s-12 {
      width: 100%;
    }
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
      width: 8.33%;
    }
    .col-2 {
      width: 16.66%;
    }
    .col-3 {
      width: 25%;
    }
    .col-4 {
      width: 33.33%;
    }
    .col-5 {
      width: 41.66%;
    }
    .col-6 {
      width: 50%;
    }
    .col-7 {
      width: 58.33%;
    }
    .col-8 {
      width: 66.66%;
    }
    .col-9 {
      width: 75%;
    }
    .col-10 {
      width: 83.33%;
    }
    .col-11 {
      width: 91.66%;
    }
    .col-12 {
      width: 100%;
    }
  }
.grid {
    width:1200px;
    max-width:100%;
    margin:0 auto;
    
}

.grid_full-width {
    width:100%;
}

.grid__row {
    display:flex;
    flex-wrap:wrap;
    margin-left:-5px;
    margin-right:-5px;
}
/* test */
.grid__column-4 {
    width:40%;
    margin-left:12px;
    margin-right:12px;
}
.grid__colum-2-5{
    
    margin-left:5px;
    margin-right:5px;
    width:calc( 20% - 10px);
}
.grid__column-2-4 {
    width:calc( 20% - 10px);    
    margin-left:5px;
    margin-right:5px;
}
.grid__column-8 {
    width:60%;    
    margin-left:12px;
    margin-right:12px;
}
/* animation */
@keyframes fadeIn {
    from {
        opacity:0;
    }
    to{
        opacity:1;
    }
}

/* modal */
.modal{
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    display: flex;
    animation: fadeIn linear 0.1s;

}
.modal__overlay{
    position:absolute;
    width:100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.4);
}
.modal__body{
  
    margin:auto;
    position:relative;
    z-index: 1;


}
/* button style */
.btn{
    min-width: 120px;
    height: 36px;
    border:none;
    text-decoration:none;
    border-radius: 2px;
    font-size:18px;
    padding:0 12px;
    outline:none;
    cursor:pointer;
    color:#000;
    background-color: #fff;
    display:inline-flex;
    align-items: center;
    justify-content: center;
}
.btn.btn-normal:hover{
    background-color:rgba(0, 0, 0, 0.05)
}
.btn--size-s{
    height:32px;
    font-size:12px;
    padding:0 8px;
}

.btn.btn-primary{
    background-color:#fe6443;
    color:#fff;
    
}
.btn.btn-disabled {
    cursor:default;
    background-color :#949494;
}
/* selection */
.select-input{
    position:relative;
    min-width:200px;
    height:36px;
    padding:0 12px;
    border-radius: 2px;
    background-color: #fff;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.select-input__label-icon{
    font-size:14px;
    color:rgb(131, 131, 131);
    position:relative;
    top: 1px;
}
.select-input__list{
    position:absolute;
    left:0;
    right:0;
    top: 14px;
    border-radius:2px;
    background-color: #fff;
    padding:8px 16px;
    list-style: none;
    display:none;
    z-index: 1;
}
.select-input__link {
    text-decoration: none;
    font-size: 14px;
    color:#000;
    display:block;
    padding:4px 0;
}
.select-input__link:hover{
    color:#fe6443;
}
.select-input:hover .select-input__list{
    display:block;
}
.pagination{
    display:flex;
    align-items: center;
    justify-content: center;
}
.panigation-item{
    list-style: none;
    margin:0 14px;

}
.panigation-item__link{
    text-decoration: none;
    color:#999;
    min-width:40px;
    min-height: 30px;
    display: block;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
    font-weight: 300;
    font-size:20px;
}
.panigation-item__icon{

}
.panigation-item__active .panigation-item__link{
    
    background-color: #ef3713;
    color:#fff;
}
.panigation-item__active .panigation-item__link:hover{
    background-color:#fe2713;
}
.home-product__pagination{
    margin-top: 48px;
    margin-bottom: 32px;
}